@import-normalize;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.headerFlex {
    width: 100%;
    max-width: 1920px;
    height: 160px;
    justify-content: space-between;
    align-items: center;

    display: flex;
}

.headerContainer {
    /* футер */
    position: relative;

    width: 100%;
    padding: 0 20px;
    max-width: 1920px;
    height: 90px;
    border-bottom: 2px solid #BABABA;
    z-index: -1;
    justify-content: space-between;
    align-items: center;

    display: flex;

    background: #fafafafa;
}

@media screen and (min-width: 1920px) {
    .headerContainer {
        margin: 0 auto;
    }
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.filter-button1 {
    /* Rectangle 13 */

    position: relative;
    width: 209px;
    height: 40px;
    border: none;

    background: #d9d9d9;
    /* тень */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}

.filter-button2 {
    /* Rectangle 13 */
    width: 209px;
    height: 40px;
    border: none;

    background: #d9d9d9;
    /* тень */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}

.filter-button3 {
    /* Rectangle 13 */

    position: absolute;
    width: 209px;
    height: 40px;
    left: 991px;
    top: 32px;
    border: none;

    background: #d9d9d9;
    /* тень */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}

.filter-button4 {
    /* Rectangle 13 */

    position: absolute;
    width: 209px;
    height: 40px;
    left: 991px;
    top: 88px;
    border: none;

    background: #d9d9d9;
    /* тень */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}

.filter-button-text {
    margin-right: 8px; /* Отступ между текстом и иконкой */

    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 570;
    font-size: 16px;

    color: #111112;
}

.login-button {
    /* Rectangle 13 */
    width: 209px;
    height: 54px;
    border: none;
    margin: 0 40px;

    background: #d9d9d9;
    /* тень */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}

.button-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentWeekText {
    /* Сейчас четная неделя - С 19.02.2024 по 24.02.2024 - 3 неделя (верхняя/нечетная) */
    position: relative;
    padding-bottom: 7px;

    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 650;
    font-size: 18px;
    align-self: flex-start;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #111112;
}

.nextWeekText {
    /* Следующая неделя нечетная - С 26.02.2024 по 02.03.2024 - 4 неделя (нижняя/четная) */
    position: relative;

    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    align-self: flex-start;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #111112;
}

.dayHeader {
    /* верх дня */
    position: relative;
    width: 600px;
    height: 49px;

    background: #0966bb;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: left;
}
.width{
    width: 100%;
}

.dayHeaderText {
    /* Понедельник */

    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.classesText {
    /* 4 пары */
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 350;
    font-size: 27px;
    display: flex;
    align-items: center;

    color: #ffffff;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.class1 {
    /* Rectangle 15 */
    width: 600px;
    height: 127px;

    display: flex;
    align-items: center;

    background: #f0f0f0;
    border-radius: 0 0 5px 5px;
    padding: 3px 0;
}

.class2 {
    /* Rectangle 15 */
    width: 600px;
    height: 127px;
    margin-top: 1.2%;
    padding: 3px 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: #f0f0f0;
    border-radius: 5px 5px 5px 5px;
}

.dayFull {
    /* общий контейнер дня */
    position: relative;
    width: 600px;
    height: 590px;
    margin: 10px 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-grow: 1;
    height: 100%;
}

.infoRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 32px;
    padding-right: 16px;
}

.classTime {
    /* 9:00 - 10:30 */

    font-family: "Readex Pro", serif;
    font-style: normal;
    font-weight: 550;
    font-size: 24px;
    line-height: 80%;
    /* or 19px */
    display: flex;
    align-items: center;
    text-align: center;

    color: #232323;
}

.className {
    /* Элективные курсы по физической культуре */
    display: flex;
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    align-items: center;
    text-align: start;


    color: #000000;
}

.classTeacher {
    /* Пляскин А.В. */

    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    /* identical to box height, or 13px */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.classType {
    /* Практика */

    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    padding-top: 0.5%;
    /* or 16px */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.locationInfo {
    position: relative;
    width: 159px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;

    height: 64px;
}

.locationType {
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    /* or 16px */
    display: flex;

    color: #000000;
}

.irlLocation {
    /* 2-609 */

    font-family: "Readex Pro", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* or 16px */
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.daysContainer {
    position: relative;
    width: calc(100% - 54px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 28px;
    align-items: flex-start;
    margin-top: -10px;
}

.appContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.weekContainer {
    display: flex;
    padding: 24px 40px;
    width: calc(100% - 80px);
    align-self: center;
    justify-content: flex-start;
    flex-flow: column wrap;
}

/*620px это минимум с обычной версткой*/
.footerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 36px;

}

.footerDivider {
    /* нижний дивидер */
    position: relative;
    width: 80%;

    border: 1px solid #E1E1E1;
}

.footerTextContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 26px;
}

.footerTexts{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    flex: 1;
}

.footerText {
    /* 2024 */
    position: relative;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90%;
    padding: 27px 10px;
    /* or 14px */
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #767676;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.headerText{
    /* Расписание занятий */

    position: relative;
    padding-left: 32px;
    width: 260px;
    height: 23px;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;

    display: flex;
    align-items: center;

    color: #000000;
}

.filtersContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 42px;
    margin-top: 24px;
}

.groupContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 32px;
}

.boldGroupText{
    /* ИВТ1-Б21 */
    width: 122px;
    height: 23px;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;

    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}
.groupFilterText {

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    margin-bottom: 18px;

    display: flex;
    align-items: center;
    justify-content:  flex-start;

    color: #3D3D3D;
}

.filterText {

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content:  flex-start;

    color: #3D3D3D;
}

.weekTypeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 32px;
}

.subgroupContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.groupName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toggleOuter {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 315px;
    height: 47px;
    background: #F7F7F7;
    border: 2px solid #0966BB;
    border-radius: 40px;
}

.toggleInner {
    position: relative;
    display: flex;
    width: 150px;
    height: 37px;
    left: 3px;
    align-items: center;
    justify-content: center;

    background: #CDCDCD;
    border-radius: 20px;
}

.toggleInnerInactive {
    position: relative;
    display: flex;
    width: 150px;
    height: 37px;
    right: 3px;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

}

.toggleActiveText {
    position: relative;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;
    margin-left: 12px;

    color: #000000;


}

.toggleInactiveText {
    position: relative;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 450;
    font-size: 18px;

    color: #3D3D3D;
}