@import-normalize;

body {
    background: #f7f7f7;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.header-content-container {
    /* футер */
    position: relative;

    width: 100%;
    padding: 0 20px;
    max-width: 1836px;
    height: 90px;

    z-index: -1;
    justify-content: space-between;
    align-items: center;

    display: flex;

    background: #fafafafa;
}

.header-container {
    width: 100vw;
    border-bottom: 2px solid #BABABA;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.week-container {
    display: flex;
    padding: 24px 40px;
    width: calc(100% - 80px);
    align-items: flex-start;
    flex-flow: column wrap;
    text-align: left;
}

.week-text {
    position: relative;
    font-family: "Raleway", serif;
    font-style: normal;
    line-height: 125%;
    font-weight: 400;
    font-size: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #111112;
}

.day-header {
    /* верх дня */
    position: relative;
    width: 600px;
    height: 49px;

    background: #0966bb;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
}

.width {
    width: 100%;
    max-width: 1920px;
}

@media screen and (min-width: 1920px) {
    .width {
        margin: 0 auto;
    }
}

.day-header-text {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;

    color: #ffffff;
}

.classes-text {
    /* 4 пары */
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    display: flex;
    align-items: center;

    color: #ffffff;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.day-block-top {
    position: relative;
    width: 600px;
    height: 127px;

    display: flex;
    align-items: center;

    background: #f0f0f0;
    border-radius: 0 0 5px 5px;
    padding: 3px 0;
}

.day-block {
    position: relative;
    width: 600px;
    height: 127px;
    margin-top: 6px;
    padding: 3px 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: #f0f0f0;
    border-radius: 5px 5px 5px 5px;
}

.day-full {
    /* общий контейнер дня */
    position: relative;
    width: 600px;
    height: auto;
    margin: 10px 6px 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Устанавливаем z-index: 2 для всех потомков .day-full.editing, кроме .day-properties-container и его потомков */
.day-full.editing * {
    z-index: 2;
}

/* Устанавливаем z-index: 4 для .day-properties-container и его потомков */
.day-full.editing .class-properties-container,
.day-full.editing .class-properties-container * {
    z-index: 3;
}


.day-end-block {
    display: flex;
    position: relative;
    width: 600px;
    height: 9px;

    background: #e7e7e7;
    border-radius: 5px 5px 5px 5px;
    margin-top: 6px;
}

.day-end-block.animated {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 34px;
    animation: day-end-to-plus 0.2s ease-in-out;
    cursor: pointer;
    border: none;
    padding: 0;
}

@keyframes day-end-to-plus {
    from {
        height: 9px;
    }
    to {
        height: 34px;
    }
}

.add-icon {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.add-icon.appear {
    opacity: 1;
    height: 19px;
    width: 19px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-grow: 1;
    height: 100%;
}

.info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 32px;
}

.info-row.editing {
    padding-left: 28px;
}

.class-time {
    /* 9:00 - 10:30 */
    font-family: "Readex Pro", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #232323;
}

.class-time.editing {

    padding: 4px 6px;
    width: 64px;

    background: #F5F5F5;
    border-radius: 6px;
    border: none;
}

.class-time.editing:focus {
    outline: 2px solid #DBDBDB;
}

.class-name {
    /* Элективные курсы по физической культуре */
    display: flex;
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    text-align: start;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.class-name.editing {
    padding: 8px 6px;
    width: 385px;

    background: #F5F5F5;
    border-radius: 6px;
    border: none;
}

.class-name.editing:focus {
    outline: 2px solid #DBDBDB;
}

.class-teacher {
    /* Пляскин А.В. */
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: start;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.class-teacher.editing {
    padding: 4px 6px;
    width: 120px;

    background: #F5F5F5;
    border-radius: 6px;
    border: none;
}

.class-teacher.editing:focus {
    outline: 2px solid #DBDBDB;
}

.class-type {
    /* Практика */
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-top: 0.5%;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.class-type.editing {
    padding: 8px 6px 7px 6px;
    width: 136px;

    background: #F5F5F5;
    border-radius: 6px;
    border: none;
}

.class-type.editing:focus {
    outline: 2px solid #DBDBDB;
}

.week-type-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px;
    margin-right: 15px;
    border-radius: 40px;
    background: #F5F5F5;
    cursor: pointer;
}

.week-type-icon.editing {
    outline: 2px solid #DBDBDB;
}

.location-info {
    position: relative;
    width: 159px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;

    height: 74px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.location-type {
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* or 16px */
    display: flex;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.location-type.editing {
    padding: 4px 4px;
    width: 102px;
    text-align: center;
    background: #F5F5F5;
    border-radius: 6px;
    border: none;
    overflow: hidden;
}

.location-type.editing:focus {
    outline: 2px solid #DBDBDB;
}

.irl-location {
    /* 2-609 */
    font-family: "Readex Pro", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* or 16px */
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

.irl-location.editing {
    padding: 4px 4px 3px 4px;
    width: 102px;
    text-align: center;
    background: #F5F5F5;
    border-radius: 6px;
    border: none;
    overflow: hidden;
}

.irl-location.editing:focus {
    outline: 2px solid #DBDBDB;
}

.irl-letters-location {
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 660;
    font-size: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;

    color: #000000;
}

.irl-letters-location.editing {
    padding: 4px 4px;
    width: 102px;
    text-align: center;
    background: #F5F5F5;
    border-radius: 6px;
    border: none;
    overflow: hidden;
}

.irl-letters-location.editing:focus {
    outline: 2px solid #DBDBDB;
}


.distant-location {
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;

    color: #093D6D;
}

.distant-location.editing {
    padding: 7px 4px 6px 4px;
    width: 102px;
    font-size: 16px;
    text-align: center;
    background: #F5F5F5;
    border-radius: 6px;
    border: none;
}

.distant-location.editing:focus {
    outline: 2px solid #DBDBDB;
}

.days-container {
    position: relative;
    width: calc(100% - 56px);
    min-height: calc(100vh - 361px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: center;
    margin: -10px 28px 0;
}

.schedule-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;

    max-width: 1920px;
}

.schedule-page {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    width: 100vw;
}

@media screen and (min-width: 1920px) {
    .footer-container, .filters-container, .schedule-container {
        margin: 0 auto;
    }
}

.footer-divider {
    /* нижний дивидер */
    position: relative;
    width: 80%;

    border: 1px solid #E1E1E1;
}

.footer-text-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px;
}

.footer-texts-container {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-clickable-text, .footer-text {
    /* 2024 */
    position: relative;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90%;
    padding: 27px 10px;
    /* or 14px */
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #767676;
}

.footer-clickable-text:hover {
    text-decoration: underline;
}

.schedule-header-text {
    /* Расписание занятий */

    position: relative;
    padding-left: 32px;
    width: 260px;
    height: 23px;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    align-items: center;

    color: #000000;
}

.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.filters-content-container {
    width: 100%;
    max-width: 1836px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 42px;
    margin-top: 24px;
}

.group-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 32px;
}

.bold-group-text {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;

    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.switch-icon-wrapper {
    width: 29px;
    height: 29px;
    transition: transform 0.3s ease;
}

.switch-icon-wrapper:hover {
    transform: rotateZ(180deg);
}

.switch-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-filter-text {

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #000000;
}

.filter-text {

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #3D3D3D;
}

.week-type-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 32px;
}

.subgroup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.group-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 47px;
}

.toggle-outer {

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3px;

    width: 315px;
    height: 47px;
    background: #F1F1F1;
    border: 2px solid #0966BB;
    border-radius: 40px;
    z-index: -1;
}

.toggle-slider-container {
    width: 0;
    overflow: visible;
}


.toggle-slider-untoggled {
    display: flex;
    width: 150px;
    height: 37px;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease-in-out;
    background: #CDCDCD;
    border-radius: 20px;
    z-index: 1;
}

.toggle-slider-toggled {
    display: flex;
    width: 150px;
    height: 37px;
    cursor: pointer;
    position: relative;
    transition: transform 0.1s ease-in-out;
    background: #CDCDCD;
    border-radius: 20px;
    z-index: 1;
    transform: translateX(155px);
}

.toggle-inner-active {
    position: relative;
    display: flex;
    width: 150px;
    height: 37px;
    align-items: center;
    justify-content: center;
    cursor: default;
    border: none;
    padding: 0;
    border-radius: 20px;
}

.toggle-inner-inactive {
    position: relative;
    display: flex;
    width: 150px;
    height: 37px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    padding: 0;
}

@keyframes smooth-shrinking-9px {
    from {
        width: 9px;
    }
    to {
        width: 0;
    }
}

@keyframes smooth-shrinking-20px {
    from {
        width: 20px;
    }
    to {
        width: 0;
    }
}

@keyframes smooth-expanding-7px {
    from {
        width: 0;
    }
    to {
        width: 7px;
    }
}

@keyframes smooth-expanding-9px {
    from {
        width: 0;
    }
    to {
        width: 9px;
    }
}

@keyframes smooth-expanding-14px {
    from {
        width: 0;
    }
    to {
        width: 14px;
    }
}


@keyframes smooth-expanding-20px {
    from {
        width: 0;
    }
    to {
        width: 20px;
    }
}

@keyframes flip {
    from {
        rotate: 0;
    }
    to {
        rotate: 90deg;
    }
}

.toggle-text-active {
    position: relative;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-left: 12px;
    cursor: default;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.toggle-text-inactive {
    position: relative;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #3D3D3D;
}

.day-empty-block-top {
    width: 600px;
    height: 127px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F3F3F3;
    border-radius: 0 0 5px 5px;
    padding: 3px 0;
}

.empty-text {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    align-items: center;
    text-align: center;

    color: #232323;

}

.alert-container {
    display: flex;
    padding: 1px 40px 25px;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
}

.alert-text {
    display: flex;

    font-family: 'Raleway', serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    margin-left: 16px;

    color: #CB2121;
}

.groups-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto 0 auto;
    height: auto;
    width: calc(100vw - 80px);
}

.group-list-container {
    min-height: calc(100vh - 163px);
}

.homepage-container {
    min-height: calc(100vh - 292px);
}

.groups-choose-text {
    display: flex;
    position: relative;
    font-family: 'Raleway', serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    align-items: center;

    margin: 24px 0 0 0;

    color: #000000;
}

.search-bar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    width: 490px;
    height: 41px;
    background: #F3F3F3;
    border: 2px solid #646464;
    border-radius: 20px;
    margin: 24px 0 0 0;
}

.search-bar-input {
    all: unset;
    width: 400px;
    line-height: 14px;
    overflow-x: hidden;
    border: 0;
    background: #F3F3F3;
    font-family: "Raleway", serif;
    margin-right: 12px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.search-bar-input::-webkit-search-cancel-button {
    display: none;
}

.grade-container {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 24px;
    align-items: center;
}

.grade-text {
    position: relative;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding-right: 18px;

    color: #000000;
}

.grade-divider {
    position: relative;
    display: flex;
    width: 450px;
    height: 1px;

    background: #C8C8C8;
}

.group-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 36px;
    text-decoration: none;
    background: #E4E4E4;
    border: 2px solid #0966BB;
    border-radius: 20px;
    margin-right: 16px;
}

.group-button-text {
    position: relative;
    height: 16px;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.group-buttons-container {
    position: relative;
    display: flex;
    padding-top: 16px;
}

.group-add-text {
    position: relative;
    font-family: 'Raleway', serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    margin-top: 16px;
    color: #767676;
    margin-bottom: 16px;
}

.group-placeholder {
    position: relative;
    width: 124px;
    height: 25px;

    background: #E7E7E7;
    border-radius: 5px;
}

.blur-element {
    position: absolute;
    width: 100vw;
    height: 3000px;
    z-index: 1;

    background: linear-gradient(180deg,
    rgba(241, 241, 241, 0) 0%,
    rgba(244, 244, 244, 0.6375) 2.84%,
    rgba(247, 247, 247, 0.75) 100%);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 0;
    animation: fadeIn 0.2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.edit-icon-wrapper {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease;
    order: 7;
    padding-right: 20px;
    margin-left: auto;
    cursor: pointer;
    background: none;
    border: none;
}

.day-header:hover .edit-icon-wrapper {
    opacity: 1;
}

.edit-icon {
    width: 26px;
    height: 26px;
}

.day-edit-text {
    position: absolute;
    width: 200px;
    height: 24px;

    font-family: 'Raleway', serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 90%;
    z-index: 1;

    color: #000000;
}

.day-save-button {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    position: absolute;
    width: 150px;
    height: 39px;
    font-weight: 650;
    font-size: 18px;
    color: #F7F7F7;

    background: #0966BB;
    border: 3px solid #075093;
    border-radius: 11px;
    cursor: pointer;
    animation: fadeIn 0.2s ease-in-out;
}

.class-edit-panel-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 6px;
    max-width: 600px;
    align-items: flex-start;


}

.class-edit-main-container.teacher {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.class-edit-main-container.location {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    width: 600px;
}

.class-edit-secondary-container {
    display: flex;
    flex-direction: column;
}

.class-edit-inner-container.first {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    max-width: 600px;
}

.class-edit-inner-container.second {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 36px;
    max-width: 600px;
    padding-top: 12px;
}

.class-edit-panel-new-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 600px;
}

.class-edit-location-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;

}

.class-edit-main-text {
    position: relative;
    font-family: 'Raleway', serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 14px;

    color: #3D3D3D;
}

.class-edit-secondary-text {
    font-family: 'Raleway', serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 20px;

    color: #3D3D3D;
}

.scroll-container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 600px;
}

.button-scroll {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.class-edit-new-option {
    position: relative;
    display: flex;
    padding: 8px;
    margin-right: 14px;

    align-items: center;
    text-align: center;
    background: #EFEFEF;
    border: 2px solid #0966BB;
    border-radius: 10px;
    cursor: pointer;
}

.class-edit-option {
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    margin-right: 14px;
    height: 18px;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #000000;
    white-space: nowrap;
    font-feature-settings: 'pnum' on, 'lnum' on;
    background: #EFEFEF;
    border: 2px solid #0966BB;
    border-radius: 10px;
    cursor: pointer;
}

.class-edit-input {
    box-sizing: border-box;
    width: 229px;
    height: 32px;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background: #F5F5F5;
    border: 2px solid #ADADAD;
    border-radius: 6px;
    margin-right: 20px;
    padding: 0 6px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.edit-panel-save-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', serif;
    width: 113px;
    height: 32px;
    font-weight: 500;
    font-size: 16px;
    color: #F7F7F7;
    font-feature-settings: 'pnum' on, 'lnum' on;
    background: #0966BB;
    border: 2px solid #075093;
    border-radius: 7px;
    cursor: pointer;
}

.location-dropdown {
    width: 104px;
    height: 32px;
    background: #F5F5F5;
    border: 2px solid #ADADAD;
    border-radius: 6px;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #3D3D3D;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.location-dropdown:focus {
    border: 2px solid #757575;
}

.delete-button {
    position: absolute;
    left: 605px; /* -41 */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 36px;
    height: 133px;
    background: #E9E9E9;
    border-radius: 5px;
    border: none;
    padding: 0;
}

.class-properties-container {
    position: absolute;
    width: 235px;
    height: 105px;
    top: -80px;
    left: 290px;

    opacity: 0.99;


    background: #F0F0F0;
    border: 1px solid rgba(205, 205, 205, 0.803922);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
}

.class-properties-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
}

.class-properties-text {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 90%;
    display: flex;
    color: #000000;
    padding-right: 8px;
}

.class-properties-dropdown {
    width: 104px;
    height: 30px;
    background: #F5F5F5;
    border: 2px solid #ADADAD;
    border-radius: 6px;
}

.not-found-page {
    min-height: calc(100vh - 163px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.not-found-header {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    display: block;
}

.not-found-text {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: block;
}

.button-click-accent {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 11px;
    transition: transform 0.1s linear;
    background-color: #fafafa;
}

.button-click-accent.active {
    background-color: #E9E9E9;
    transform: scale(1.1);
}

.login-popup-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 246px;
    background: #F0F0F0;
    z-index: 5;
    top: 76px;
    right: 0;
    left: calc(100vw - 352px);

    border: 2px solid #CDCDCD;
    box-shadow: 0 4px 13px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.login-popup-text {
    width: 171px;
    height: 20px;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    color: #000000;
}

.login-popup-input {
    box-sizing: border-box;
    width: 240px;
    height: 36px;
    background: #F5F5F5;
    border: 2px solid #ADADAD;
    border-radius: 6px;
    padding: 0 6px;
    font-family: 'Raleway', serif;
    font-size: 15px;
}


.login-popup-input:focus {
    border: 2px solid #676767;
    outline: none;
}

.login-popup-button {
    position: relative;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    width: 135px;
    height: 32px;
    font-weight: 650;
    font-size: 18px;
    color: #F7F7F7;

    background: #0966BB;
    border: 3px solid #075093;
    border-radius: 11px;
    cursor: pointer;
}

.welcome-header {
    max-width: 65vw;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: 24px 0 0 0;
    display: flex;
    padding-left: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

.welcome-text {
    max-width: 65vw;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    padding-left: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
}

/* <= 930 px cтили */

@media screen and (max-width: 930px) {
    .schedule-header-text {
        padding-left: 11px;
        font-size: 14px;
    }

    .header-container {
        border-bottom: 1px solid #BABABA;
    }

    .header-content-container {
        width: 100vw;
        padding: 0 8px 0 8px;
        height: 44px;
    }

    .group-filter-text {
        font-size: 8px;
        margin-bottom: 8px;
    }

    .filter-text {
        font-size: 8px;
        margin-bottom: 6px;
    }

    .bold-group-text {
        font-size: 12px;
    }

    .switch-icon-wrapper {
        width: 7px;
        height: 8px;
        padding: 4px 0 4px 4px;
    }

    .filters-content-container {
        width: calc(100% - 24px);
        padding: 0 18px;
        margin-top: 12px;
    }

    .toggle-outer {
        border: 1px solid #0966BB;
        width: 120px;
        height: 22px;
        padding: 0 1px;
    }

    .toggle-slider-toggled, .toggle-slider-untoggled, .toggle-inner-inactive, .toggle-inner-active {
        width: 57px;
        height: 18px;
        margin-right: 1.2%;
        margin-left: 1.2%;
    }

    .toggle-slider-toggled {
        transform: translateX(59px);
    }

    .toggle-text-inactive, .toggle-text-active {
        font-size: 7px;
    }

    .toggle-text-active {
        margin-left: 4px;
    }

    .week-text {
        font-size: 8px;
    }

    .week-text {
        margin-bottom: 2px;
    }

    .week-container {
        padding: 12px 16px 6px;
        align-self: flex-start;
    }

    .day-full {
        width: 339px;
        margin-top: 6px;
        margin-bottom: 8px;
    }

    .day-header {
        width: 339px;
        height: 28px;
        border-radius: 3px 3px 0 0;
    }

    .day-header-text, .classes-text {
        font-size: 15px;
    }

    .day-header-text {
        padding-left: 12px;
    }

    .day-block-top, .day-block, .day-empty-block-top {
        width: 339px;
        height: 70px;
        border-radius: 0 0 3px 3px;
    }

    .class-time {
        font-size: 14px;
    }

    .info-row {
        padding-left: 16px;
    }

    .class-type, .class-name {
        font-size: 10px;
    }

    .class-teacher {
        font-size: 8px;
    }

    .location-info {
        width: 90px;
        height: 45px;
    }

    .location-type, .irl-letters-location, .irl-location, .distant-location {
        font-size: 12px;
    }

    .day-end-block {
        width: 339px;
        height: 6px;
        margin-top: 1.2%;
    }

    .days-container {
        margin: 0 0 0 0;
        width: calc(100% - 1px);
    }

    .group-container, .week-type-container {
        margin-right: 12px;
        white-space: nowrap;
    }

    .empty-text {
        font-size: 20px;
    }

    .footer-divider {
        border-top: 1px solid #E1E1E1;
        border-bottom: 0;
    }

    .footer-text, .footer-clickable-text {
        font-size: 8px;
        padding: 16px 9px;
    }

    .footer-text-container {
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .alert-container {
        display: flex;
        padding: 3px 18px 6px;
        align-items: center;
        justify-content: flex-start;
        align-self: flex-start;
    }

    .alert-text {
        font-size: 8px;
        margin-left: 6px;
    }

    .groups-container {
        width: calc(100vw - 18px);
        min-height: calc(100vh - 45px - 41px);
    }

    .group-name {
        height: 20px;
    }

    .group-placeholder {
        position: relative;
        width: 60px;
        height: 14px;

        background: #E7E7E7;
        border-radius: 5px;
    }

    .groups-choose-text {
        font-size: 11px;
        margin: 12px 0 0 0;
    }

    .search-bar {
        width: 240px;
        height: 20px;
        margin: 12px 0 0 0;
        border: 1px solid #646464;
    }

    .search-bar-input {
        height: 8px;
        font-size: 7px;
        width: 195px;
        margin-right: 6px;
    }

    .grade-container {
        padding-top: 12px;
    }

    .grade-text {
        font-size: 8px;
        padding-right: 8px;
    }

    .grade-divider {
        width: 186px;
    }

    .group-button {
        width: 61px;
        height: 18px;
        border: 1px solid #0966BB;
        margin-right: 8px;
    }

    .group-button-text {
        font-size: 9px;
    }

    .group-buttons-container {
        padding-top: 8px;
    }

    .group-add-text {
        font-size: 8px;
        margin: 10px 0 10px 0;
    }
}